.row-container {
  cursor: pointer;
  font-family: var(--default-font-family);
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
  height: 50px;
}

.row-container-even {
  background-color: var(--secondary-color);
}

tr:hover td {
  color: black;
}
